<div class="container">
  <form action="/emp/save-emp" method="post">
    <div>
    <fieldset>
      <label class="form-label mt-4" for="readOnlyInput">Enter Your Name : </label>
      <input
        class="form-control"
        type="text"
        name="fullname"
        placeholder="Enter Your Name"
      />
    </fieldset>
  </div>
    <div>
    <fieldset>
      <label class="form-label mt-4" for="readOnlyInput">Enter Your Email : </label>
      <input
        class="form-control"
        type="text"
        name="email"
        placeholder="Enter Your Name"
      />
    </fieldset>
  </div>
    <div>
    <fieldset>
      <label class="form-label mt-4" for="readOnlyInput">Enter Your Phone : </label>
      <input
        class="form-control"
        type="text"
        name="mobile"
        placeholder="Enter Your Name"
      />
    </fieldset>
  </div>
    <div>
    <fieldset>
      <label class="form-label mt-4" for="readOnlyInput">Enter Your City : </label>
      <input
        class="form-control"
        type="text"
        name="city"
        placeholder="Enter Your Name"
      />
    </fieldset>
  </div>
  <br>
  <input type="submit" >
  </form>
  
</div>