<div class="container">
    <h1 class="text-center">Employee Management System</h1>
    <a href="/emp/add-emp" class="btn btn-lg btn-primary"> Add Employee</a>
    <a href="/emp/show-all-emp" class="btn btn-lg btn-success"> Show Employee</a>
    <a href="/emp/delete-all-emp" class="btn btn-lg btn-danger"> Delete Employee</a>
    <a href="/emp/updateEmployee" class="btn btn-lg btn-info">Update Employee</a>
</div>